.status{
    margin-right: 100px;
    min-width: 200px;
}
#status-banner{
    position: fixed;
    display: flex;
}
#plan-name{
    background-color: dimgray;
}

.wrap-contact100{
    margin-top: 50px;
}
